
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        {{#link-to 'application'}}Home{{/link-to}}
      </li>
      <li>
        {{#link-to 'stories.top'}}Top Stories{{/link-to}}
      </li>
      <li>
        {{#link-to 'stories.new'}}Newest Stories{{/link-to}}
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {{#if user}}
        <li>
          Hello, {{user.name}}
        </li>
      {{/if}}
      {{#unless user}}
        <li>
          {{#link-to 'register'}}Register{{/link-to}}
        </li>
        <li>
          {{#link-to 'login'}}Log In{{/link-to}}
        </li>
      {{/unless}}
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-sm-12">
    {{outlet}}
  </div>
</div>
