<nav>
  {{#link-to 'application'}}Home{{/link-to}}
  {{#link-to 'stories.top'}}Top Stories{{/link-to}}
  {{#link-to 'stories.new'}}Newest Stories{{/link-to}}
  {{#link-to 'register'}}Register{{/link-to}}
</nav>

{{outlet}}
